body {
  background-image: url("outer space.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100vh;
  flex-direction: column;
}

button {
  /* padding: 2rem 3rem; */
  width: 20rem;
  height: 6rem;
  background-color: rgb(73, 73, 201);
  color: white;
  border: 0rem solid black;
  box-shadow: 0rem 0rem 1rem black;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
  margin: 3rem 5rem;
}

h1 {
  margin: 0 0 5rem 0;
  color: aliceblue;
  text-shadow: 0px 0px 0.25rem black;
  font-size: 10rem;
}

button:hover {
  cursor: pointer;
  background: rgb(58, 58, 156);
}

@media only screen and (max-width: 420px) {
  body {
    background-image: url("mobile\ space\ background.png");
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
  }

  button {
    padding: 1rem 1rem;
    background-color: rgb(73, 73, 201);
    color: white;
    border: 0rem;
    border-radius: 0.2rem;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 1rem 1rem;
    width: 12rem;
    height: 4rem;
  }

  h1 {
    margin: 0 0 9rem 0;
    color: aliceblue;
    text-shadow: 0px 0px 0.5rem black;
    font-size: 3rem;
  }
}
